@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-primary antialiased overflow-x-hidden;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
  }
}

/* Anime.js targets will use specific classes often, but we can keep it utility-first */
.char {
  display: inline-block;
}
